.btn {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    font-size: 13px;
    height: 30px;
    background-color: #9147ff;
    color: white;
    padding: 0 20px;
    transition: background-color 0.5s;
}

.btn:hover:not(.red) {
    background-color: #772ce8;
}

.btn.back {
    position: fixed;
    top: 50px;
    left: 50px;
}